<footer id="Contact">

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo_footer">
                <img src="/imagenes/logo chico.png" alt="Logo El Portal">
            </div>
            <div class="terms">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
            </div>
        </div>
        

        <div class="box__footer">
            <h2>Nosotros</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>              
        </div>

        <div class="box__footer redes">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/el.portal.herreria/"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/el.portal.herreria/"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
    </div>
    <section>
        <nav>
            <div class="footer-desktop">                
                <div class="Icon-footer"><i class="fas fa-truck-moving"></i>             
                  
                        <ul type="none">
                            <li><h3>Envíos a todo el pais</h3></li>                       
                        </ul>
                </div> 
                <div class="Icon-footer1"><i class="fas fa-credit-card"></i>
            
                        <ul type="none"> 
                            <li><h3 class="h3-footer">
                                <p> -Debito </p>
                                
                                <p> -Credito </p>
                                
                                <p> - Efectivo </p>
                                
                                                               
                            </h3></li>
                        </ul>
                </div>   
                <div class="Icon-footer"><i class="fas fa-user-shield"></i>       
                
                        <ul type="none">
                            <li><h3> Compra con Seguridad </h3> </li>                   
                        </ul>      
                </div>
            </div>
        </nav>   
        
    </section>
    <div class="box__footer">
        <h2>Ubicacion</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14428.643837870904!2d-57.440784988135896!3d-25.298795651485037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945db1b201560643%3A0xb143aaf3f6ca8723!2sHerreria%20El%20Portal!5e0!3m2!1ses!2sar!4v1684705770732!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> 
    <div class="box__copyright">
        <hr>
        <p>COPYRIGHT EL PORTAL HERRERIA - 2023. TODOS LOS DERECHOS RESERVADOS</b></p>
    </div>
</footer>