<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รง</title>
    <link rel="stylesheet" href="css/footer.css"> 
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head> -->
<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo_footer">
                <img src="/imagenes/logo chico.png" alt="Logo El Portal">
            </div>
            <div class="terms">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
            </div>
        </div>
        

        <div class="box__footer">
            <h2>Nosotros</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>              
        </div>

        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/el.portal.herreria/"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/el.portal.herreria/"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>COPYRIGHT EL PORTAL HERRERIA - 2023. TODOS LOS DERECHOS RESERVADOS</b></p>
    </div>
</footer>