

<header class="main-header">
    <div class="navtop">
      <div class="logopad">
        <img src="/imagenes/Logo.jpg" class="logo" />
      </div>

      <nav class="locationbig">
        <a class="locationbigicon"
          ><i class="fa-sharp fa-solid fa-location-dot"></i>
          <p class="direccionbig">
            Calle falsa 123, CP 1119, Buenos Aires, Argentina
          </p></a
        >
      </nav>
      <nav class="search">
        <input type="text" placeholder="Buscar productos, marcas y mas..." />
      </nav>
      <nav class="options">
        <a href="/login" class="account"><i class="fa-solid fa-user"></i></a>
        <p class="leyendaccount">Hola Juan, accede a tu cuenta</p>
        <a class="ordenes"
          ><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i
        ></a>
        <p class="leyendaordenes">Órdenes y devoluciones</p>
        <a href="/shoppingCart" class="canastasup"
          ><i class="fa-sharp fa-solid fa-cart-shopping"></i
        ></a>
      </nav>
    </div>
    <div class="navinferior">
      <div class="infizq">
        <a href="*" class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </a>
        <a class="location"
          ><i class="fa-sharp fa-solid fa-location-dot"></i>
          <p class="direccion">
            Calle falsa 123, CP 1119, Buenos Aires, Argentina
          </p></a
        >
      </div>
      <div class="infder">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
      </div>
      <ul class="menuinf">
        <li class="menuinfitems">Mesas</li>
        <li class="menuinfitems">Camas</li>
        <li class="menuinfitems">Sillones</li>
        <li class="menuinfitems">Sillas</li>
      </ul>
    </div>
  </header>