<header class="main-header">
    <div class="navtop">
      <a href="/">
        <div class="logopad">
          <img src="/imagenes/Logo.jpg" class="logo" />
        </div>
      </a>
      
      <nav class="search">
        <input type="text" placeholder="Buscar productos, marcas y mas..." />
      </nav>
      <% if (locals.isLogged) { %>
       
      
      <nav class="options">
        <a href="/login" class="account"><i class="fa-solid fa-user"></i></a>
        <p class="leyendaccount"><%= locals.userLogged.nombre %>, accede a tu perfil</p>
        
        <a href="/shoppingCart" class="canastasup"
          ><i class="fa-sharp fa-solid fa-cart-shopping"></i
        ></a>
      
      <% }else{ %>
        <nav class="options login">
        <a href="/login" class="account"><i class="fa-solid fa-user"></i></a>
        <p class="leyendaccount">Accede a tu cuenta</p>
        </nav>
      <% } %>
    </div>
    <div class="navinferior">
      <div class="infizq">
        <a class="burger-menu" >
          <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </a>
      </div>
      <div class="infder">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
      </div>
    </div>
  </header>
  <div class="background"></div>
      <div class="menu">
        <nav class="nav-menu">
          <a href="/" style="animation-delay: 0.2s">Home</a>
          <a href="/login" style="animation-delay: 0.3s">Cuenta</a>
          <a href="/shoppingCart" style="animation-delay: 0.4s">Carrito</a>
          <a href="#Contact" id="scroll-to-end" style="animation-delay: 0.5s">Nosotros</a>
          <% if (locals.isLogged && locals.userLogged.rol === 1) { %>
            <a href="/productsadmin" id="scroll-to-end" style="animation-delay: 0.6s">Productos</a>
            <a href="/cuentas" id="scroll-to-end" style="animation-delay: 0.7s">Cuentas</a>
          <% } %>
            
        </nav>
      </div>
      <script type="text/javascript" >
        const body = document.querySelector('body')
        const background = document.querySelector('.menu')
        const toggleMenu = () => body.classList.toggle("open");
        background.addEventListener('click', function(e) {
          const navA = document.querySelectorAll('.nav-menu a')
          if(background.contains(e.target) && e.target !== navA){
        
          body.classList.toggle("open")
            
        }
        })
        document.getElementById("scroll-to-end").addEventListener("click", function(event) {
        event.preventDefault();
        
        const element = document.getElementById("Contact");
        const options = {
          behavior: "smooth",
          block: "end",
          inline: "nearest"
        };
      
        element.scrollIntoView(options);
        });
      </script>