<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css\slider.css" />
    <link rel="stylesheet" href="./css\categoria.css" />
    <link rel="stylesheet" href="./css\cajaprod1.css" />
    <link rel="stylesheet" href="./css\header.css" />
    <link rel="stylesheet" href="./css\filtrosyorg.css" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/efecb5d88a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <header class="main-header">
      <div class="navtop">
        <div class="logopad">
          <img src="imagenes\Logo.jpg" class="logo" />
        </div>

        <nav class="locationbig">
          <a class="locationbigicon"
            ><i class="fa-sharp fa-solid fa-location-dot"></i>
            <p class="direccionbig">
              Calle falsa 123, CP 1119, Buenos Aires, Argentina
            </p></a
          >
        </nav>
        <nav class="search">
          <input type="text" placeholder="Buscar productos, marcas y mas..." />
        </nav>
        <nav class="options">
          <a class="account"><i class="fa-solid fa-user"></i></a>
          <p class="leyendaccount">Hola Juan, accede a tu cuenta</p>
          <a class="ordenes"
            ><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i
          ></a>
          <p class="leyendaordenes">Órdenes y devoluciones</p>
          <a class="canastasup"
            ><i class="fa-sharp fa-solid fa-cart-shopping"></i
          ></a>
        </nav>
      </div>
      <div class="navinferior">
        <div class="infizq">
          <a href="*" class="burger-menu">
            <i class="fa-solid fa-bars"></i>
          </a>
          <a class="location"
            ><i class="fa-sharp fa-solid fa-location-dot"></i>
            <p class="direccion">
              Calle falsa 123, CP 1119, Buenos Aires, Argentina
            </p></a
          >
        </div>
        <div class="infder">
          <i class="fa-sharp fa-solid fa-cart-shopping"></i>
        </div>
        <ul class="menuinf">
          <li class="menuinfitems">Mesas</li>
          <li class="menuinfitems">Camas</li>
          <li class="menuinfitems">Sillones</li>
          <li class="menuinfitems">Sillas</li>
        </ul>
      </div>
    </header>
    <main>
      <div class="sliderfull">
        <img class="sliderimg" src="imagenes\bannerej.jpg" />
      </div>
      <nav class="filtrosyorg">
        <button class="menufiltro">Organiza</button>
        <button class="menufiltro">Filtros</button>
       
      </nav>
      <div class="categorias">
        <ul class="catbox">
          <li class="catboxitem">
            Living <a class="boxitem"><i class="fa-solid fa-couch"></i> </a>
          </li>
          <li class="catboxitem">
            Dormitorio
            <a class="boxitem"><i class="fa-sharp fa-solid fa-house"></i></a>
          </li>
          <li class="catboxitem">
            Cocina
            <a class="boxitem"><i class="fa-solid fa-glass-water"></i></a>
          </li>
          <li class="catboxitem">
            Bano <a class="boxitem"><i class="fa-solid fa-bath"></i></a>
          </li>
          <li class="catboxitem">
            Jardin
            <a class="boxitem"><i class="fa-sharp fa-solid fa-baseball"></i></a>
          </li>
          <li class="catboxitem">
            Bar
            <a class="boxitem"><i class="fa-sharp fa-solid fa-house"></i></a>
          </li>
        </ul>
      </div>
      <div class="columnas">
      <nav class="cajadecaja">
        <nav class="menufiltro2"> </nav>
        <div class="columna1">
          <div class="preciodesc">
        <div class="imagenboxcontainer">
          <div class="opacity">
        </div>
        <p class="promo">PROMOCION</p>
            <img class="imagencaja" src="imagenes\sideboards-data.jpg">
      </div>
      <p class="descripcion">DESCRIPCION</p>
      <p class="precio">£1.500</p>
    </div>
    <div class="preciodesc">
      <div class="imagenboxcontainer">
        <div class="opacity">
      </div>
      <p class="promo">PROMOCION</p>
          <img class="imagencaja" src="imagenes\livingroom-data.jpg">
    </div>
    <p class="descripcion">DESCRIPCION</p>
    <p class="precio">£1.500</p>
  </div>
  <div class="preciodesc">
    <div class="imagenboxcontainer">
      <div class="opacity">
    </div>
    <p class="promo">PROMOCION</p>
        <img class="imagencaja" src="imagenes\chairs-data.jpg">
  </div>
  <p class="descripcion">DESCRIPCION</p>
  <p class="precio">£1.500</p>
</div>
    </div>
    <div class="columna2">
      <div class="preciodesc">
        <div class="imagenboxcontainer">
          <div class="opacity">
        </div>
        <p class="promo">PROMOCION</p>
            <img class="imagencaja" src="imagenes\sillon3.jpg">
      </div>
      <p class="descripcion">DESCRIPCION</p>
      <p class="precio">£1.500</p>
    </div>
    <div class="preciodesc">
      <div class="imagenboxcontainer">
        <div class="opacity">
      </div>
      <p class="promo">PROMOCION</p>
          <img class="imagencaja" src="imagenes\desk1.jpg">
    </div>
    <p class="descripcion">DESCRIPCION</p>
    <p class="precio">£1.500</p>
  </div>
  <div class="preciodesc">
    <div class="imagenboxcontainer">
      <div class="opacity">
    </div>
    <p class="promo">PROMOCION</p>
        <img class="imagencaja" src="imagenes\ratona.jpg">
  </div>
  <p class="descripcion">DESCRIPCION</p>
  <p class="precio">£1.500</p>
</div>
  </div>
  <div class="columna3">
    <div class="preciodesc">
      <div class="imagenboxcontainer">
        <div class="opacity">
      </div>
      <p class="promo">PROMOCION</p>
          <img class="imagencaja" src="imagenes\silla2.jpg">
    </div>
    <p class="descripcion">DESCRIPCION</p>
    <p class="precio">£1.500</p>
  </div>
  <div class="preciodesc">
    <div class="imagenboxcontainer">
      <div class="opacity">
    </div>
    <p class="promo">PROMOCION</p>
        <img class="imagencaja" src="imagenes\cama2.jpg">
  </div>
  <p class="descripcion">DESCRIPCION</p>
  <p class="precio">£1.500</p>
</div>
<div class="preciodesc">
  <div class="imagenboxcontainer">
    <div class="opacity">
  </div>
  <p class="promo">PROMOCION</p>
      <img class="imagencaja" src="imagenes\ratona2.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>
</div>
<div class="columna4">
  <div class="preciodesc">
    <div class="imagenboxcontainer">
      <div class="opacity">
    </div>
    <p class="promo">PROMOCION</p>
        <img class="imagencaja" src="imagenes\silla2.jpg">
  </div>
  <p class="descripcion">DESCRIPCION</p>
  <p class="precio">£1.500</p>
</div>
<div class="preciodesc">
  <div class="imagenboxcontainer">
    <div class="opacity">
  </div>
  <p class="promo">PROMOCION</p>
      <img class="imagencaja" src="imagenes\sillon.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>
<div class="preciodesc">
<div class="imagenboxcontainer">
  <div class="opacity">
</div>
<p class="promo">PROMOCION</p>
    <img class="imagencaja" src="imagenes\cama1.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>
</div>
    </nav>
  </div>
  <!--<div class="columnaprueba">
    <div class="preciodesc">
      <div class="imagenboxcontainer">
        <div class="opacity">
      </div>
      <p class="promo">PROMOCION</p>
          <img class="imagencaja" src="imagenes\silla2.jpg">
    </div>
    <p class="descripcion">DESCRIPCION</p>
    <p class="precio">£1.500</p>
  </div>
  <div class="preciodesc">
    <div class="imagenboxcontainer">
      <div class="opacity">
    </div>
    <p class="promo">PROMOCION</p>
        <img class="imagencaja" src="imagenes\silla2.jpg">
  </div>
  <p class="descripcion">DESCRIPCION</p>
  <p class="precio">£1.500</p>
</div>
<div class="preciodesc">
  <div class="imagenboxcontainer">
    <div class="opacity">
  </div>
  <p class="promo">PROMOCION</p>
      <img class="imagencaja" src="imagenes\silla2.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>
<div class="preciodesc">
  <div class="imagenboxcontainer">
    <div class="opacity">
  </div>
  <p class="promo">PROMOCION</p>
      <img class="imagencaja" src="imagenes\silla2.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>
<div class="preciodesc">
  <div class="imagenboxcontainer">
    <div class="opacity">
  </div>
  <p class="promo">PROMOCION</p>
      <img class="imagencaja" src="imagenes\silla2.jpg">
</div>
<p class="descripcion">DESCRIPCION</p>
<p class="precio">£1.500</p>
</div>-->
  </div>
    </main>
  </body>
</html>
