<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart UI</title>
    <link rel="stylesheet" href="/css/shoppingCart.css">
	<link rel="stylesheet" href="./css\header.css" />
	    <script src="https://kit.fontawesome.com/2e0546fccd.js" crossorigin="anonymous"></script>
</head>
    <body>
	<body>
          <!--<div class=”Cart-Container”></div>-->
		  <header class="main-header">
			<div class="navtop">
			  <div class="logopad">
				<img src="imagenes\Logo.jpg" class="logo" />
			  </div>
	  
			  <nav class="locationbig">
				<a class="locationbigicon"
				  ><i class="fa-sharp fa-solid fa-location-dot"></i>
				  <p class="direccionbig">
					Calle falsa 123, CP 1119, Buenos Aires, Argentina
				  </p></a
				>
			  </nav>
			  <nav class="search">
				<input type="text" placeholder="Buscar productos, marcas y mas..." />
			  </nav>
			  <nav class="options">
				<a class="account"><i class="fa-solid fa-user"></i></a>
				<p class="leyendaccount">Hola Juan, accede a tu cuenta</p>
				<a class="ordenes"
				  ><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i
				></a>
				<p class="leyendaordenes">Órdenes y devoluciones</p>
				<a class="canastasup"
				  ><i class="fa-sharp fa-solid fa-cart-shopping"></i
				></a>
			  </nav>
			</div>
			<div class="navinferior">
			  <div class="infizq">
				<a href="*" class="burger-menu">
				  <i class="fa-solid fa-bars"></i>
				</a>
				<a class="location"
				  ><i class="fa-sharp fa-solid fa-location-dot"></i>
				  <p class="direccion">
					Calle falsa 123, CP 1119, Buenos Aires, Argentina
				  </p></a
				>
			  </div>
			  <div class="infder">
				<i class="fa-sharp fa-solid fa-cart-shopping"></i>
			  </div>
			  <ul class="menuinf">
				<li class="menuinfitems">Mesas</li>
				<li class="menuinfitems">Camas</li>
				<li class="menuinfitems">Sillones</li>
				<li class="menuinfitems">Sillas</li>
			  </ul>
			</div>
	</body>
					    
         <!-- <div class=”Header”>
			    <div>
				<h3 class=”Heading”>Shopping Cart</h3>
			    </div>
				<div>
				<h5 class=”Action”>Remove all</h5>
				</div>-->
				<div class="Header">
					<h1>
					  <span class="shopper"></span> Shopping Cart
					</h1>
					<div class="enlaces">
						<a href="https://elportall.mitiendanube.com/"> Home</a>
						<a href="#">Promociones </a>
						<a href="#"> Regalos </a>
						<a href="#" > Ayuda  </a>
					   </div>
					<!--<<a href="#" Class="btn btn-Delete">Delete Cart</a>
					<a href="#" class="visibility-cart transition is-open" id="botoncierre">Delete Cart</a>-->
				  </div>	
			<!--<h3>
				<span class="Heading"></span> Shopping Cart
			  </h3>-->
            <!--<h5 class=”Action”>Remove all</h5>-->
          </div>
		  
		  <br>
          <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="/imagenes/img-cafetera-moulinex.jpg" height =80px>
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Cafetera</h1>
   	   	  	<h3 class="subtitle">250ml</h3>
   	   	  	</div>
   	   	  <div class="counter">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">$30.000</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div>
		  <hr>
   	   <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="/imagenes/img-samsung-galaxy-s10.jpg" height="80px"> 
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Samsung S10</h1>
   	   	  	<h3 class="subtitle">256 G</h3>
   	   	  	<!--<img src="images/" height="30px"> -->
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">$56.000</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div>
		  <hr>
        <div class="Cart-Items pad">
          <div class="image-box">
            <img src="/imagenes/img-tv-samsung-smart.jpg" height="80px"> 
          </div>
          <div class="about">
            <h1 class="title">Smart TV</h1>
            <h3 class="subtitle">40"</h3>
            <!--<img src="images/" height="30px"> -->
          </div>
          <div class="counter">
            <div class="btn">-</div>
            <div class="count">1</div>
            <div class="btn">+</div>
          </div>
          <div class="prices">
            <div class="amount">$70.000</div>
            <div class="save"><u>Save for later</u></div>
            <div class="remove"><u>Remove</u></div>
          </div>
      </div>
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">3 items</div>
   	 	</div>
   	 	<div class="total-amount">$156.000</div>
   	 </div>
   	 <button class="button">Checkout</button></div>
   </div>
</body>
</html>