<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart UI</title>
    <link rel="stylesheet" href="/css/shoppingCart.css">
	<link rel="stylesheet" href="./css\header.css" />
	    <script src="https://kit.fontawesome.com/2e0546fccd.js" crossorigin="anonymous"></script>
</head>
    <body>
	<body>
		<%- include('partial/header') %>
	
				<div class="Header">
					<h1>
					  <span class="shopper"></span>
					</h1>
					<!--<div class="enlaces">
						<a href="https://elportall.mitiendanube.com/"> Home</a>
						<a href="#">Promociones </a>
						<a href="#"> Regalos </a>
						<a href="#" > Ayuda  </a>
					   </div>-->
					<!--<<a href="#" Class="btn btn-Delete">Delete Cart</a>
					<a href="#" class="visibility-cart transition is-open" id="botoncierre">Delete Cart</a>-->
				  </div>	
			<!--<h3>
				<span class="Heading"></span> Shopping Cart
			  </h3>-->
            <!--<h5 class=”Action”>Remove all</h5>-->
          </div>
		  <body>

			<div class="contenedor">
			<header class="header">
			 <h1>Cart</h1>
			 <!--<h4 size="20px" color="black">CESTA </h4>-->
			<br>
			<a size="8px" color=#007185>Seleccionar todos los artículos </a>
			<hr size="1px" color="#DDDD">
			 </header>
			<main class="contenido">
				
			<ul>
				<div class="Cart-Items1">
					<input type="checkbox" name="check-item" value="a" id="a">
						  <div class="image-box">
							<img src="\imagenes\chairs-data.jpg" height =50px>
						  </div>
						  <div class="about">
							<h1 class="title">Chair</h1>
							<h3 class="subtitle"></h3>
							</div>
						  <div class="counter">
						<div class="btn">-</div>
						<div class="count">1</div>
						<div class="btn">+</div>
					</div>
					<div class="prices">
						<div class="amount">£1.500</div>
						<div class="save"><u>Save for later</u></div>
						<div class="remove"><u>Remove</u></div>
					</div>
			</div>
			<br>
			<div class="Cart-Items2">
				<input type="checkbox" name="check-item" value="a" id="a">
				<div class="image-box">
					<img src="\imagenes\livingroom-data.jpg" height =50px>
				</div>
				<div class="about">
					<h1 class="title">Living Room</h1>
					<h3 class="subtitle"></h3>
					</div>
				<div class="counter">
					<div class="btn">-</div>
					<div class="count">1</div>
					<div class="btn">+</div>
				</div>
				<div class="prices">
					<div class="amount">£1.500</div>
					<div class="save"><u>Save for later</u></div>
					<div class="remove"><u>Remove</u></div>
				</div>
				</div>
		<br>
		<div class="Cart-Items3">
			<input type="checkbox" name="check-item" value="a" id="a">
			<div class="image-box">
				<img src="\imagenes\sideboards-data.jpg" height =50px>
			</div>
			<div class="about">
				<h1 class="title">Side Board</h1>
				<h3 class="subtitle"></h3>
				</div>
			<div class="counter">
				<div class="btn">-</div>
				<div class="count">1</div>
				<div class="btn">+</div>
			</div>
			<div class="prices">
				<div class="amount">£1.500</div>
				<div class="save"><u>Save for later</u></div>
				<div class="remove"><u>Remove</u></div>
			</div>
			</div>
	<br>
			</ul>
			</main>
			<aside class="sidebar">
			<div class="checkout">
			   <div class="total">
				 <div>
					<div class="Subtotal">Sub-Total</div>
					<div class="items">3 items</div>
				 </div>
				<div class="total-amount">£4.500</div>
			</div>
		 <div>
			<button class="button">Checkout</button></div>
			</div>
			</aside>
			<div class="widget-1">
			<h3>WIDGET 1</h3>
			</div>
			<div class="widget-2">
			<h3>WIDGET 2</h3>
			</div>
			<footer class="footer">
			<h5>All right reserved</h5>
			</footer>              
			
		</div>
	</body>
	</html>      
					
		
		  <!--
			Codigo anterior
		  </body>
		  <br>
          <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="/imagenes/sideboards-data.jpg" height =80px>
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Mesa de Luz</h1>
   	   	  	<h3 class="subtitle"></h3>
   	   	  	</div>
   	   	  <div class="counter">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">£1.500</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div>
		  <hr>
   	   <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="/imagenes/sillon.jpg" height="80px"> 
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Sillon</h1>
   	   	  	<h3 class="subtitle"></h3>
   	   	  	<img src="images/" height="30px">-->
			<!--
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">£1.500</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div>
		  <hr>
        <div class="Cart-Items pad">
          <div class="image-box">
            <img src="/imagenes/sofabed-data.jpg" height="80px"> 
          </div>
          <div class="about">
            <h1 class="title">Sofa</h1>
            <h3 class="subtitle"></h3>
            <img src="images/" height="30px">
          </div>
          <div class="counter">
            <div class="btn">-</div>
            <div class="count">1</div>
            <div class="btn">+</div>
          </div>
          <div class="prices">
            <div class="amount">£1.500</div>
            <div class="save"><u>Save for later</u></div>
            <div class="remove"><u>Remove</u></div>
          </div>
      </div>
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">3 items</div>
   	 	</div>
   	 	<div class="total-amount">£4.500</div>
   	 </div>
	 <div>
   	 <button class="button">Checkout</button></div>
   </div>
</body>
</html>
-->
