footer{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 50px 0px;

    background-color: rgb(90, 90, 122);;
    -webkit-mask-image: url("../imagenes/background-footer.svg");
    mask-image: url("../imagenes/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;

} 

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    max-width: 395px;
    margin: auto;
   

}


.box__footer .logo_footer img{
    width: 100%;
    height: 140px;
    object-fit: cover; 
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: lighter;
    color: whitesmoke;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 600;
    font-size: 25px;
    border-bottom: dotted 0.5px gray;
}

.box__footer a{
    margin-top: 10px;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;

}

.box__footer a:hover{
    font-weight: 600;
    opacity: 0.8;
    color: #3190ff;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: white;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color:white;
}

/* --------------------------Footer2---------------------------------------- */
.footer-desktop{
    background-color:rgb(90, 90, 122); ;
}


.Icon-footer {
text-align: center;
color:  rgb(90, 90, 122);
font-size: 2em;
margin: 15px;
}

.Icon-footer1 {
text-align: center;
color: rgb(90, 90, 122);
font-size: 2em;
margin: 15px;
}

footer .fa-solid, .fas:hover{
color: #3190ff;
opacity: 0.8;
cursor: pointer;

}

.h3-footer {
margin: 2px;
padding: 5px;
text-align: center;
}

section nav p{
margin: 5px;
text-decoration: none;
}

section nav li h3{
color:rgba(248, 248, 248, 0.699)
}

section nav ul li{
color:#666;;
text-align: center;
padding: 10px;
font-size: 16px;
}
.Icon-footer {
    text-align: center;
    color: #232552;
    font-size: 2em;
    margin: 15px;
}
.Icon-footer1 {
    text-align: center;
    color: #232552;
    font-size: 2em;
    margin: 15px;
 }

/* -----------mediaqueris------------ */

@media (min-width: 480px){






}

@media (min-width: 769px){  


.footer-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Icon-footer {
    display: flex;
    align-items: center;
    color:#232552;
    font-size: 2em;
    margin: 13px;
}

.Icon-footer1 {
    display: flex;
    align-items: center;
    color: #232552;
    font-size: 2em;
    margin: 13px;
    padding: 0 7vw;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
}




}


