.main-header {
  display: flex;
  margin: 0px;
  padding: 0px;
  
  background-color: #7d3535;
  height: auto;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
    
  }
  .i-shoppingCart{
    color: rgb(196, 196, 196);
  }
  .filtro{
    display: none;
}
  .options {
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  .navtop {
    display: flex;
    height: 122px;
    width: 100%;
    background-color: whitesmoke;
    
    align-self: flex-start;
  }
  
  .logo {
    display: flex;
    width: 75px;
    border-radius: 200px;
    margin: 10px;
    border: solid 2px black;
    padding: 4px;
    box-shadow: 0 0 5px 0px;
    flex-wrap: wrap;
  }
  .logopad {
    display: flex;
    padding: 0 0 15px 20px;
    width: 80px;
    margin-right: 25px;
  }
  .search {
    display: flex;
    height: 40px;
    align-self: center;
    min-width: min-content;
    margin-left: 10px;
    width: 100%;
  }
  
  .search input {
    display: flex;
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    min-width: 100px;
    align-content: center;
    justify-self: left;
    height: 35px;
    color: black;
    font-weight: 100;
    font-size: small;
    font-family: roboto;
    box-shadow: 1px 1px 5px 1px #868484;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  .navinferior {
    display: flex;
    background-color: rgb(90, 90, 122);
    
    height: 45px;
    flex-direction: row;
    justify-content: space-between;
  }
  .leyendaordenes {
    display: none;
  }
  .burger-menu {
    display: flex;
    width: 50px;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: rgb(196, 196, 196);
    margin-left: 43px;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    
  }
  .burger-menu i{
    cursor: pointer;
    transition: 500ms;
  }
  .burger-menu i:hover{
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.699);
  }

  .location {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    display: none;
  }
  .direccion {
    margin-left: 10px;
    font-size: 10px;
    max-width: 150px;
    min-width: 150px;
  }
  .account {
    display: flex;
    align-items: center;
    border: solid 3px rgb(90, 90, 122);
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    margin: 40px 0px 0 25px;
    color: rgb(90, 90, 122);
    max-width: 15px;
    height: 15px;
  }
  .login{
    margin: 0 60px 0 0;
  }
  .options {
    display: flex;
    width: auto;
  }
  .leyendaccount {
    display: none;
  }
  .infizq {
    display: flex;
  }
  .infder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    font-size: larger;
    color: rgb(196, 196, 196);
    margin: 0 11px 0 85px;
  }
  .ordenes {
    display: none;
  }
  .locationbig {
    display: flex;
    min-width: 0%;
    max-width: 0px;
    align-self: center;
  }
  .locationbigicon {
    display: none;
  }
  .canastasup {
    display: none;
  }
  .menuinf {
    display: none;
  }
  
  @media (min-width: 768px) {
    .account {
      display: flex;
      margin-right: 5px;
    }
    .menuinf {
      display: flex;
      list-style: none;
      justify-items: center;
      align-items: center;
    }
    .menuinfitems {
      padding: 9px;
      width: 55px;
      margin-left: 0px;
      text-align: center;
      margin: 0 0 0 15px;
      color: whitesmoke;
      font-weight: 300;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    .direccion {
      display: none;
    }
    .navinferior {
      justify-content: flex-start;
    }
    .location {
      display: none;
    }
    .locationbig {
      display: flex;
      width: 100px;
      flex-wrap: wrap;
      margin-right: 10px;
      padding-right: 200px;
    }
    .locationbigicon {
      display: flex;
      align-items: center;
      font-size: 25px;
      margin-left: 20px;
      color: rgb(114, 110, 110);
    }
    .direccionbig {
      margin-left: 10px;
      font-size: 10px;
      max-width: 150px;
      min-width: 150px;
      color: black;
    }
    .infder {
      display: none;
    }
    .canastasup {
      justify-self: end;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      font-size: large;
      color: rgb(90, 90, 122);
      margin: 0 50px 0 5px;
      border: solid 3px rgb(90, 90, 122);
      border-radius: 100px;
      padding: 8px;
      height: 20px;
      align-self: center;
    }
    .leyendaccount {
      display: flex;
      align-self: center;
      font-size: 10px;
      text-align: left;
      width: 100%;
      min-width: 75px;
      flex-wrap: wrap;
    }
    .main-header {
      min-width: 835px;
    }
   
    .search input {
      min-width: 240px;
      width: 100%;
    }
    
    
  }
  @media (min-width: 1000px) {
    .ordenes {
      display: flex;
      justify-self: flex-start;
      align-self: center;
      border: solid 3px rgb(90, 90, 122);
      border-radius: 100px;
      padding: 11px;
      height: 15px;
      width: 20px;
      margin-right: 5px;
      margin-left: 5px;
    }
    .leyendaordenes {
      display: flex;
      align-self: center;
      font-size: 10px;
      text-align: left;
      width: 100%;
      min-width: 75px;
      flex-wrap: wrap;
    }
  }
  .nav-menu a{
    color: #f9f9f9;
  
  }
  .menu {
    position: fixed;
  }
  .background {
    position: fixed;
    z-index: 30;
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    height: 88px;
    background: #07030a;
    border-radius: 50%;
    opacity: 0;
    transition: 0.6s;
  }
  
  body.open .background {
    height: 300vh;
    opacity: 0.8;
  }
  
  .menu {
    z-index: 40;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  body .menu nav:hover > a {
    opacity: 0.25;
  }
  
  body .menu nav > a:hover {
    opacity: 1;
    translate: 8px 0;
  }
  
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    
    padding: 20px 0 20px 20px;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    translate: 0 -50%;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    opacity: 0;
    rotate: 45deg;
    transition: 0.3s;
  }
  
  .menu a:hover::after {
    opacity: 1;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  body.open .menu a {
    opacity: 1;
    animation: appear 0.35s backwards;
  }