*{
    
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
    
}

:not(.main-header,.logo, p, a, header input,header div,header li){
    box-sizing: border-box; 
    
}


.main{
    display: flex;
    position: relative;
    justify-content:center;
    margin:  30px;
    height: 450px;
    
}

.main a{
    color:black;
}

.info{
    box-sizing: border-box;
    height: 420px;
    z-index: 10;
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgb(100, 100, 100);
    border-right: black 6px solid;
    
}
.formulario2{
    display: none;
}
.titulo-celu, .google-celu, .option-celu{
    display: none;
}

.crear1{
   transition: 500ms all;
   width: 80%;
}
.info h1.titulo-desktop{
    font-size: 45px;
    position: relative;
    left: 18px;
    margin: 20px 0 0;
}
.crear{
    border:none;
    
    
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 10px;
    width: 70%;
    transition: 500ms all; 
    
}
.direc{
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    position: relative;
    
}
.formulario {
    background-color: orange;
    border-radius: 0 20px 20px 0;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: space-evenly;
    height: 420px;
    width: 400px;
    flex-direction: column;
    padding: 20px;
    position: relative;
    right:15px;
    
}.option{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separador1{
    display: block;
    margin: 0 10px ;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 20%, black);
}
.or{
    width: 55px;
    font-size: 13px;
    opacity: 0.7;
}
.separador2{
    transform: rotate(180deg);
    display: block;
    margin: 0 10px ;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 20%, black);

}
.google{
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    transition: 300ms;
}
.form-check-input{
    display:block;
    width: 20px;
    margin: 0px 5px 0 15px  ;
    
}
.botonCheck{
    display: flex;
    margin-top:10px ;
}
.botonCheck p{
    font-size: 12px;
}

.img{
    width: 17px;
    height:17px ;
    position: relative;
    top: 2px;
    
    margin-right: 10px;
}
.google:hover{
    background-color: #0069ff;
    box-shadow: 0px 0px 10px black;
    color: white;
}


.option2{
    margin: 20px 0;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.separador3{
    display: block;
    
    width: 70%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 20%, black);
}
.separador4{
    display: block;
    
    width: 70%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 20%, black);
    transform: rotate(180deg);
}
main form{
    position: relative;
    bottom: 20px;
}
main input{
    border: none;
    width: 90%;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.todavia{
    position: relative;
    
    
}
.ayuda{
    transition: 500ms;
    

}
.ayuda:hover{
    color: white;
    
}
.ingresar{
    height: 38px;
    transition: 500ms;
    background-color: orange;
}
.ingresar:hover{
    
    color: white;
    
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}
span.input-vacios{
    position: relative;
    margin: 15px;
    font-size: 15px;
    visibility: hidden;
    color:rgb(216, 8, 8)
}
.olvidaste{
    font-size: 12px;
    transition: 500ms;
    margin-left: 20px;
}
.olvidaste:hover{
    color: orange;
    text-decoration: underline;
}
.crear1:hover{
    color: orange;
    text-decoration: underline;
    
}
.crear:hover{
    box-shadow: 0px 0px 10px black;
}
.texto{
    border:solid black 1px;
}
.texto:focus{
    outline:none;
    
    box-shadow: 0px 0px 10px rgb(251, 128, 5);
}
input.is-invalid{
    border:solid 2px rgb(216, 8, 8);
    
}
input.is-invalid:focus{
    box-shadow: none;
    
}
.text-danger{
    color: red;
    font-size: 15px;
    margin: 0px 0px 0px 10px
}
.form-control{
    position: relative;
}
.form-control :is(label){
    font-size: 14px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: #888888;
    transition: 0.3s;
}
.form-control > label {
    left: 17px;
    translate: 0 -50%;
    padding: 2px 2px;
}
.form-control > :is(input:focus, .has-value) ~ label {
    background: white;
    border-radius: 20%;
    color: rgba(0, 0, 0, 0.685);
    translate: 7px -32px;
}
.form-control label.is-invalid{
    color:red;

}
@media (max-width:768px){
    .main{
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    .info{
        width: 100%;
        box-shadow: inset 10px 10px 44px -33px rgba(0,0,0,0.75);
        border: 1px solid black;
        border-radius: 10px 10px 0 0;
        border-bottom: none;
        height: 400px;
        
    }
    .titulo-celu,.google-celu{
        display: block;
        
    }
    h1.titulo-celu{
        margin: 10px 0;
    }
    
    
    .google-celu{
        border: 1px solid black;
        width: 85%;
        height: 20px;
        text-align: center;
        margin: 10px 15px;
        padding: 8px;
        border-radius: 10px;
        font-size: 14px;
    }
    
    
    .titulo-desktop{
        display: none;
    }
    .info h1{
        position: relative;
        left: 15px;
        margin: 20px 0 0;
        font-size: 30px;
    }
    .formulario{
        display: none;  
    }
    .formulario2{
        width: 100%;
        
        background-color: white;
        display: block;
        display: flex;
        
        
        align-items: center;
        justify-content: space-around;
        position: relative;
    
        border: 1px solid black;
        border-radius: 0px 0px 10px 10px;
        background-color: #F8F9F9;
        border-top: none;
        bottom:20px;
        height: 90px;
        box-shadow: inset 10px 10px 44px -33px rgba(0,0,0,0.75);    
    }
    .formulario2 button{
        font-size: 16px;
        color: #551A8B;
        border: none;
        background-color: transparent;
    }
    span.input-vacios{
        font-size: 12px;        
    }
    
}
@media (max-width:380px){
    
    div.info, .formulario2 {
        width: 100%;
        padding: 20px;
        
    }
    main form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    .info input, .google-celu{
        width: 100%;
        
    }
    .formulario2 {
        padding:15px 0px 15px 15px ;
        font-size: 15px;
    }
    div.info h1.titulo-celu{
        font-size: 10px;
    }
    input.form-check-input{
        margin: 0px 5px 0px 20px;
        width: auto;
        display: inline-block;
    }
    .botonCheck {
        width: 90%;
        align-items: center;
    }
    .botonCheck p{
        align-items: center;
    }
}