.prod-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.prod-admin a{
    text-decoration: none;
}
.prod-admin button{
    background-color: rgba(10, 209, 53, 0.534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    color:black;
    
    cursor: pointer;
    transition: 500ms;
}
.prod-admin button:hover{
    transform: scale(1.05);
}

.cajageneral{
    
    margin-top: 40px;
    
 

}
.cajatotallista{
    display: flex;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border: solid gray 2px;
    border-radius: 10px;
    
    margin: 5px;
    align-items: center;
    box-sizing: border-box;

}
.cajaimg{
    height: 75px;
    min-width: 80px;
    margin: 5px;
    margin-left: 25px;
    background-color: white;
    
}
.imagenes1{
    object-fit: cover;
    width: 90%;
    height: 100%;
}
.cajainfo{
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;

    
}
.delete{
    font-size: 25px;
    margin-right: 25px;
    margin-left: 10px;
    color: purple;
}
.campos{
    display: block;
    width:25%;
    justify-content: center;
    align-self: center;
    
}
.fonts{
    font-size: 10px;
}
.cloumnbox{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
   justify-content: center;
   
}
.autogen{
    display: flex;
    height: 75%;
    width: 100%;
    align-items: center;

}

.nombrecampo{
    display: flex;
    height: 15px;
    width: 100%; 
}
.campos1{
    display: flex;
    font-size: 10px;
    width: 100%;
    justify-content: center;
    
}
.divisores{
    display: flex;
    width:25%;
    align-items: center;
    justify-content: center;
}