*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
  
}

main{
    max-width: 1200px;
    margin: 10px auto;
}
h3{
    text-align: center;
    margin: 5px auto;
    color:rgb(90, 90, 122) ;
    
}

.envio h2{
    font-size: 25px;
    color:rgb(90, 90, 122) ;
    text-align: center;
    margin: 15px;
}

header{
    text-align: center;

}

.div-desplegables p{
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;

}

.top-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.cajas-top-section1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.cajas-top-section2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.cajas-top-section3{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.IMG-Producto {
    height: 100%;
    display: contents;

}

 .img-carrusel{
    border-radius: 15%;
    width: 90%;
    margin: 9px auto; 
    object-fit: cover; 
    
 
}

.div-desplegables{
    margin: 3px auto;
    text-align: center;
}


#color{
        border-radius: 19px;
        border: 0.5px gray solid;
        color: gray;
        padding: 7px;
        cursor: pointer;
}


#color:hover{
    font-weight: bold;
}
.caract-General{
      border-top: #666 1px ;
}

.envio{
    border: 0px solid #e4dcdc;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 12px 4px rgb(208 193 193);
}

section div.envio div.input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 8px;
    margin-bottom: 17px;
    border-radius: 30px;
    cursor: pointer;
}

section div.envio div.submit{
    background-color: #FFF;
    color: #666;
    width: 10%;
}

.add-carrito{
    background-color: rgb(90, 90, 122);
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 20px;
    padding: 8px;
    color: white;
    cursor: pointer;
    }

    .add-carrito:hover{
        font-weight: bold;
    }   
.comprar{
    background-color: rgb(90, 90, 122);
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 20px;
    padding: 8px;
    color: white;
    cursor: pointer;
    
}

.comprar:hover{
    font-weight: bold;
}
.cp{
    margin: 15px;
}

div .cp .input{
    margin: 6px 31px;
}

.envio h3{
    margin: 15px 15px;
}


.descripcion h2{
    color: rgb(90, 90, 122);
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    padding: 22px;
    border-top: 1px dotted #cab9b9;
}
.descripcion p{
    text-align: center;
    line-height: 33px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 22px 25px;
    
}





@media (min-width: 480px){

    .cajas-top-section1, .cajas-top-section2{
        width: 40%;
        margin: 25px auto;
        text-align: center;
}

.fa-solid, .fas{
    text-align: center;
}
.cajas-top-section3{
    width: 80%;
    margin-bottom: 25px;
}


section div.envio{
    text-align: center;
    width:100%;
}

div.input{
    width: auto;
}




}

@media (min-width: 769px){  
    .cajas-top-section1, .cajas-top-section2,.cajas-top-section3{
       width: 30%;
       justify-content: space-between;
    }
    .div-desplegables {
        margin: 30px auto;
        text-align: center;
    }
    
    
} 


@media (min-width: 1280px){
    
    
    .top-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    } 
}