*{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    

}
.informacion1{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}
.titulo{
    font-weight: bold;
    font-size: 23px;
    width: 100%;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin: 20px;
}

.boton{
    position: absolute;
    left: 40%;
    top: 93%;
    
    
}
.boton button{
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    width: 180px;
    
    
}
.datos div{
    padding: 20px;
}
.saludo{
    margin: 20px;
    width: 100%;
    
}
.botones{
    height: 100px;
}
.informacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
}