*{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    

}
.informacion1{
    padding: 0px 60px;
    display: flex;
    flex-wrap: wrap;
}
.titulo{
    font-weight: bold;
    font-size: 23px;
    width: 100%;
}
.campo-adicional{
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    width: 40%;
}
.saludo{
    margin: 20px;
    width: 100%;
    
}
.botones{
    height: 100px;
}
.informacion{
    display: flex;
    justify-content: space-around;
    width: 100%;
}