*{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    

}
:not(.main-header,.logo, p, a, header input,header div,header li){
    box-sizing: border-box; 
    
}
.informacion1{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}
.titulo{
    font-weight: bold;
    font-size: 23px;
    width: 100%;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin: 20px;
    background-color: #4e4e4e5d;
}

.boton{
    position: absolute;
    left: 40%;
    top: 93%;
    
    
    
}
.boton button{
    cursor: pointer;
    font-size: 15px;
    border-radius: 30px;
    width: 100%;
    background-color: rgb(90, 90, 122) ;
    color: white;

}
.datos form div{
    padding: 10px;
}
.datos form{
    width: 100%;
}
.datos form input{
    border: none;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    margin : 10px 0px;
    width: 100%;
}

.saludo{
    margin: 20px;
    width: 100%;
    
}
div.botones{
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.botones form{
    width: 500px;
    display: flex;
    justify-content: center;
}
.botones form button{
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #4e4e4e5d;
}
.informacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
}
@media(max-width:480px){
    div.informacion1{
        padding:0;
    }
    div.datos{
        width: 100%;
    }
    .botones form{
        width: 200px;
    }
}