*{
    
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
:not(.main-header,header p,header a, header input,header div,header li){
    box-sizing: border-box;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white ;
}
.conteiner{
    
    background-color: #F8F9F9;
    margin: 40px 0 0;
    padding: 14px 18px;
    border:1px solid black;
    border-bottom: transparent;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    height: 620px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 10px 10px 44px -33px rgba(0,0,0,0.75);
}

.conteiner .separacion{
    margin:10px 0
}
.conteiner h2{
    margin: 15px 0;
}
.conteiner label{
    font-weight: 450;
    cursor: pointer;
}
.conteiner input{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100%;
    padding: 10px;
    margin: 10px  0;
    transition: all 500ms;
}
.conteiner input:focus{
    box-shadow: 0px 0px 10px orange;
}
.crear input{
    background-color: #EB984E;
    transition: all 500ms;
}


.text-danger{
    color: red;
    font-size: 15px;
    margin: 0px 0px 0px 10px
}
a.google-celu{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    text-align: center;
    margin: 10px 0;
    height: 38px;
    width:100%;
    border-radius: 10px;
    font-size: 13px;
    
    transition: 300ms;
    
    color: black;
    position: relative;
    
    
    
}
.google-celu:hover{
    background-color: #0069ff;
    box-shadow: 0px 0px 10px black;
    color: white;
}



.google-celu p{
    display: inline-block;
}
a.google-celu img{
    margin-right: 15px;
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    color: black;
    
    
}
.caja2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 0px;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    background-color: #F8F9F9;
    border-top: none;
    width: 90%;
    height: 100px;
    box-shadow: inset 10px 10px 44px -33px rgba(0,0,0,0.75);    
}
p.condiciones{
    margin-top: 20px;
}
main input:focus{
    outline:none;
}
main input:hover{
    box-shadow: 0px 0px 10px orange
}

.crear input:hover{
    cursor:pointer;
    background-color: #E67E22;
}
.caja-desktop{
    display:none;
}
.form-control{
    position: relative;
}
.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}
.form-control.success input{
    box-shadow: 0px 0px 10px rgb(86, 224, 82);
}
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}
.form-control.error label{
    color:  rgb(216, 8, 8);
}
.form-control.error input{
    box-shadow: 0px 0px 10px rgb(216, 8, 8);
}
.form-control.error i.fa-exclamation-circle {
	color: rgb(216, 8, 8);
	visibility: visible;
}
.form-control.error input::placeholder{
    color:red;

}
@media(min-width:768px){
    .conteiner{
        width: 50%;
        
        margin: 20px 60px 0;
    }
    .caja2{
        width:50%;
        bottom:0px
    }
    header .img{
        margin-left: 40px;
        height:100px ;
        width: 100px ;
        border:solid black 3px
    }
    p.condiciones{
        margin-top: 30px;
    }
}
@media(min-width:1024px){
    div.conteiner{
        width: 30%;
        margin: 20px 360px 0;
        height: 630px;
        
    }
    .caja2{
        width:30%;
        bottom: 0;
        margin: 0px 360px;
        
        
    }
    
}
    
